mixin header(name)
  doctype html
  html
    head
      title Resume | !{name}
      style.
        @page {
          margin: 1.5cm 2cm 2cm 2cm;
        }

    body
      article
        h1 !{name}
        block

mixin url(href)
  .url
    a(href=href) !{href}

mixin section(title)
  section
    h2 !{title}
    block

mixin organization(name, city, description)
  section.organization
    h3.name !{name}
    if city
      .city !{city}
    block

mixin role(title, start, end)
  section.role
    h4.title !{title}
    if end
      .dates #{start}&ndash;#{end}
    else
      .dates #{start}
    ul
      block
