mixin header(name)
  doctype html
  html
    head
      meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Resume | !{name}
      link(rel="stylesheet", href="https://unpkg.com/normalize.css")
      link(rel="stylesheet", href="style.css")
    body
      article
        block

mixin phone(value)
  .phone
    a(href=`tel:${value}`)= value

mixin email(value)
  .email
    a(href=`mailto:${value}`)= value

mixin url(href)
  - const value = href.split('//')[1]
  .url
    a(href=href)= value

mixin section(title)
  section.section
    if title
      h2.title !{title}
    block

mixin organization(name, city, description)
  section.organization
    //- TODO: header?
    h3.name !{name}
    if city
      h4.city !{city}
    block

mixin role(title, start, end)
  section.role
    //- TODO: header?
    h4.title !{title}
    h5.dates!= start + (end ? `&ndash;` + end : '')
    block
